<footer class="site-footer pt-16">
  <data class="u-url" href="{{ " / " | relative_url }}"></data>

  <div class="footer-upper pb-4">
    <div class="wrapper pb-8 flex flex-wrap border-b border-w-1 border-grey justify-between text-center">
      <div class="w-full sm:w-1/2 md:w-1/2 sm:text-left md:text-left">
        <a class="inline-block mb-4 text-white text-2xl" href="/">
          <img style="max-height: 45px;" src="/assets/img/media/logo-wide-sm-white.png" alt="footer logo" />
        </a>
        <!-- <div>Donate and Support:</div>
         <a class="inline-block mb-3 text-white hover:text-grey" href="raven:RLAAfXwoQGdRvqupMrrL7j57gzfHFqCxca" target="_blank">RLAAfXwoQGdRvqupMrrL7j57gzfHFqCxca</a>
         <img class="block mb-8 m-auto sm:m-0" style="max-width: 125px;" src="{{" /assets/img/donate/raven-qr.png "}}" alt="donate" />
        TODO: Add Donation's back someday? -->
       </div>
      <div class="w-full sm:w-1/2 md:w-1/2 text-left">
        <div class="flex flex-wrap">
          <div class="w-1/3 sm:w-1/3 md:w-1/3 mb-8">
            <h5 class="text-sm font-semibold uppercase">Navigation</h5>
            <ul class="list-reset">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/about/">About</a>
              </li>
              <li>
                <a href="/wallet/">Wallet</a>
              </li>
              <li>
                <a href="/buy-ravencoin/">How to Buy</a>
              </li>
              <li>
                <a href="/whitepaper/">White Paper</a>
              </li>
              <li>
                <a href="https://ravencoin.shop/" target="_blank" rel="nofollow">Store</a>
              </li>
            </ul>
          </div>
          <div class="w-1/3 sm:w-1/3 md:w-1/3 mb-8">
            <h5 class="text-sm font-semibold uppercase">Developers</h5>
            <ul class="list-reset">
              <li>
                <a href="https://ravencoin.network/" target="_blank" rel="nofollow">Block Explorer</a>
              </li>
              <li>
                <a href="https://www.assetsexplorer.com/" target="_blank" rel="nofollow">Asset Explorer 1</a>
              </li>
              <li>
                <a href="https://ravencoin.asset-explorer.net/" target="_blank" rel="nofollow">Asset Explorer 2</a>
              </li>
              <li>
                <a href="/halving">Halving</a>
              </li>
              <li>
                <a href="https://rvnstats.info/" target="_blank" rel="nofollow">Statistics</a>
              </li>
              <li>
                <a href="https://github.com/RavenProject/Ravencoin" target="_blank" rel="nofollow">Github</a>
              </li>
              <li>
                <a href="/pools/">Mining Pools</a>
              </li>
            </ul>
          </div>
          <div class="w-1/3 sm:w-1/3 md:w-1/3 mb-8">
            <h5 class="text-sm font-semibold uppercase">Community</h5>
            <ul class="list-reset">
              <li>
                <a href="https://www.ravencoinmeetup.org/" target="_blank" rel="nofollow">Ravencoin Meetups</a>
              </li>
              <li>
                <a href="https://www.ravencointalk.org/" target="_blank" rel="nofollow">Ravencoin Talk</a>
              </li>
              <li>
                <a href="https://bitcointalk.org/index.php?topic=3238497" target="_blank" rel="nofollow">Bitcoin Talk</a>
              </li>
              <li>
                <a href="https://discordapp.com/invite/jn6uhur" target="_blank" rel="nofollow">Discord</a>
              </li>
              <li>
                <a href="https://t.me/RavencoinDev" target="_blank" rel="nofollow">Telegram</a>
              </li>
              <li>
                <a href="https://www.reddit.com/r/Ravencoin/" target="_blank" rel="nofollow">Reddit</a>
              </li>
              <li>
                <a href="https://medium.com/@ravencoin" target="_blank" rel="nofollow">Medium</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="footer-bottom mb-4">
    <div class="wrapper flex flex-wrap justify-between text-center">
      <div class="footer-left w-full sm:w-1/2 sm:text-left">
        <div class="footerlicense">© Ravencoin {{ site.time | date: '%Y' }} {{ site.name | default: site.title }} Released under the
          <a class="hover:text-white" href="http://opensource.org/licenses/mit-license.php"
            target="_blank">MIT license</a><span class="ml-2">/</span><span class="ml-2"><a class="hover:text-white" href="/attribution/">Attributions</a></span>
        </div>
      </div>
      <div class="footer-right w-full sm:w-1/2 flex mt-4 sm:mt-0 m-auto justify-center sm:justify-end">
        {%- include social.html -%}
      </div>
    </div>
  </div>
</footer>
{%- include modal.html -%}
