.btn {
	display: inline-block;
	transition: .25s ease;
	text-decoration: none !important;
	&.btn-primary {
		background: #f15b22;
		&:visited {
			color: #fff;
		}
		&:hover,
		.banner &:focus,
		.banner &:active {
			background: #d25121;
			color: #fff;
		}
	}
	&:visited {
		color: initial;
	}
	&.btn-ghost {
		background-color: rgba($color: #000000, $alpha: 0);
		border: 2px solid #f15b22;
		&:hover {
			background-color: #f15b22;
			color: #fff;
		}
	}
}
