.top-bar {
  background-color: $primary-color;
  padding: 5px 0 2px;
  .top-bar-content {
    display: flex;
    justify-content: space-between;
  }
  .social-media-links {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      svg {
        fill: #ffffff;
        color: #ffffff;
        display: block;
        padding: 0;
        margin-left: 10px;
        transition: 0.25s ease;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
